{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="headbar">
	<ul>
	  <a class="button button-border button-rounded file custom" href="/">Back</a>
	</ul>
</div>
<div class="related_words">
	<ul>
	{% for each_word in suggestions %}
	<a href="https://www.baidu.com/s?wd={{each_word}}">
		<li>{{each_word}}</li>
	</a>
	{% endfor %}
	</ul>
</div>
<div class="search_result">
	<h1>{{opps}}</h1>
	{% for each_img in all_urls %}
		<img src="{{each_img}}" alt="emmm 这个🔗挂了大概">
	{% endfor %}
</div>
{% endblock main %}